@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('http://fonts.cdnfonts.com/css/d-din');
/*
font-family: 'D-DIN', sans-serif;
font-family: 'D-DIN Condensed', sans-serif;
font-family: 'D-DIN Exp', sans-serif;
*/

html {
  --color-text: white;
  --color-light-blue: #009AFF;
  --color-dark-blue: #005288;
  --color-dim-gray: #696969;
  --color-dark-gray: #474747;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'Krona One', sans-serif;
}
.App{
  background-color: rgb(228, 228, 228);
}
.container{
  /* background-image: url(./images/spacex-Ptd-iTdrCJM-unsplash.jpg); */
  /* background-image: url(./images/background-2.png); */
  background-color: rgb(228, 228, 228);
  /* background-size: 1620px 1024px; */
  /* height: 100vh; */
}
.layer{
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5092) 0%, rgba(255, 255, 255, 0.76) 82.81%);
  height: 100vh; 
}
.spacex-box{
  background: rgba(255, 255, 255, 0.28);
  background: rgba(255, 255, 255, 0.58);
  border: 2px solid #009AFF;
  border-radius: 9px;
  box-shadow: #0099ff52 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}
.spacex-title{
  font-family: 'D-DIN', sans-serif;
  font-family: 'D-DIN Condensed', sans-serif;
  font-family: 'D-DIN Exp', sans-serif;  
  font-size: 38px;
  line-height: 34px;
  text-transform: uppercase;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-light-blue);
}
.spacex-text{
  /* font-family: 'Krona One', sans-serif; */
  font-family: 'D-DIN', sans-serif;
  line-height: 21px;
}

/* NAVBAR ----------------------------------------------------------------- */
.navbar{ /* navbar total height 179px */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1306px;
  margin: 0 auto;
  /* transition: all 0s ease; */
  /* outline: solid 1px blueviolet; */
}
.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 3px 5px #0099ff52;
  background-color: rgb(255, 255, 255);
  /* outline: solid 1px var(--color-light-blue); */
}
.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-top: 20px;
  /* outline: solid 1px salmon; */
}
.nav-logo {
  width: 159px;
  height: 87px;
  margin: -2px 40px 0px 99px;
  /* outline: solid 1px lime; */
}
.navbar a{ /* all a (links) */
  color: var(--color-light-blue);
  font-family: 'D-DIN Exp', sans-serif;
  /* font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px; */
  text-decoration: none;
  /* outline: solid 1px lime; */
}
.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 99px;
  margin-top: 20px;
  /* outline: solid 1px salmon; */
}
.links a:first-child{
  margin-left: 11px;
}
.links a:nth-child(2){
  margin-left: 61px;
}
.links a:nth-child(3){
  margin-left: 61px;
}
@media only screen and (max-width: 920px) {
  .navbar{
    width: 760px;
    /* outline: 1px solid orange; */
  }
  .nav-left {
    margin-left: 10px;
  }
  .nav-logo {
    margin-left: 10px;
  }
  .links{
    margin-right: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar{
    width: auto;
    max-width: 768px;
    margin: 0 auto;
    padding: 6px 3px;
  }
  .nav-left{
    margin-top: 0;
  }
  .navbar a{
    font-size: 12px;
  }
  .nav-logo {
    width: 101px;
    height: 55px;
  }
  .left-link {
    margin-left: -20px;
  }
  .links{
    width: 39%;
    margin-top: 0;
  }
  .links a:nth-child(1){
    margin-left: 26px;
  }
  .links a:nth-child(2){
    margin-left: 20px;
  }
  .links a:nth-child(3){
    margin-left: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .navbar{
    width: auto;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 460px;
    margin: 0 auto;
  }
  .navbar a{
    font-size: 10.5px;
  }
  .nav-left{
    width: auto;
    width: 94%;
    justify-content: center;
    margin: 0 auto;
    margin-top: -12px;
  }
  .nav-logo {
    width: 127px;
    height: 71px;
    margin-left: 70px;
  }
  .links{
    width: 94%;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .links a:nth-child(1){
    margin-left: 0px;
  }
}



.info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1180px;
  height: 580px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 260px;
  /* outline: 1px solid red; */
}
.info-summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 590px;
  height: 580px;
}
.info-summary img{
  width: 100%;
  margin-top: 20px;
}
.info-summary h3{
  margin-top: 0;
  margin-bottom: 0;
}
.info-p{
  width: 590px;
  height: auto;
  margin-top: 10px;
}
.info-p p{
  margin: 26px 30px;
}
.info-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-details h3{
  /* margin-left: 46px; */
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.info-ul{
  display: flex;
  justify-content: center;
  width: 300px;
  height: auto;
}
.info-details ul{
  list-style: none;
  margin: 30px auto;
  margin-left: 16px;
}
.headq {
  color: var(--color-light-blue);
}
.headq ul{
  margin-top: 0px;
  margin-left: -12px;
  margin-bottom: 0;
}
.title {
  color: var(--color-light-blue);
}
.content{
  color: var(--color-dark-gray);
}




@media only screen and (max-width: 1260px) {
  .info{
    justify-content: space-evenly;
  }
  .info-summary{
    margin-left: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .info{
    justify-content: space-evenly;
  }
  .info-summary{
    max-width: 346px;
  }
  .info-summary h3{
    text-align: center;
    max-width: 100%;
  }
  .info-p p{
    padding: 0;
  }
  .info-p{
    max-width: 98%;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .info{
    min-width: 320px;
    height: auto;
    flex-direction: column;
    padding: 0px;
    margin-top: 6%;
    margin-bottom: 10%;
  }
  .info-details{
    min-width: 320px;
    margin-top: 10px;
  }
  .info-ul{
    width: 100%;
  }
  .info h3 {
    font-size: 20px;
  }
  .info-details h3 {
    margin-left: 0px;
  }
  .content {
    color: var(--color-dim-gray);
  }
}
@media only screen and (max-width: 480px) {
  .container{
    background: white;
  }
  .info{
    min-width: 320px;
    height: auto;
    flex-direction: column;
    padding: 0px;
    margin-bottom: 10%;
    /* outline: 1px solid salmon; */
  }
  .info-summary{
    margin-top: 10px;
  }
  .info-details{
    min-width: 320px;
  }
  .info-ul{
    width: 100%;
  }
  .info-details h3 {
    margin-left: 0px;
  }
}


/* DRAGONS SECTION ----------------------------------------------------------------- */
.dragons-list{
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  height: 730px;
  height: 75vh;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 10px;
  /* outline: 1px solid tomato; */
}
.dragon-content-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .3fr repeat(2, 1fr) repeat(2, .3fr) repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 56%;
  height: 97%;
  padding: 10px 10px;
  margin-top: 26px;
  /* outline: 1px solid lime; */
}
.dragon-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 28%;
  height: 97%;
  padding: 10px 10px;
  color: aliceblue;
  /* outline: 1px solid lime; */
}
.div-1{
  grid-area: 1 / 1 / 5 / 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  /* outline: 1px solid rgb(0, 132, 255);  */
}
.div-1 img{
  width: 510px;
  margin-bottom: 30px;
  /* outline: 1px solid rgb(0, 132, 255);  */
}
.div-2{
  grid-area: 6 / 1 / 8 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-gray);
  padding: 0 10%;
  /* outline: 1px solid rgb(0, 132, 255);  */
}
.div-3 {
  text-align: center;
  color: var(--color-light-blue);
  margin-top: 0;
  margin-bottom: 12px;
  /* outline: 1px solid blueviolet;  */
}
.div-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
.div-4 ul{
  list-style: none;
  padding: 0; 
  /* outline: 1px solid rgb(255, 0, 0); */
}
.dragon-content-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* outline: 1px solid rgb(0, 183, 255);  */
}
.dragon-content-3:first-child{
  margin-bottom: 0px;
  margin-top: 0px;
}
.dragon-content-3:nth-child(2){
  margin-bottom: 0;
}
@media only screen and (max-width: 880px) {
  .dragons-list{
    justify-content: space-between;
    padding: 0;
  }
}
@media only screen and (max-width: 769px) {
  .dragons-list{
    max-width: 769px;
    min-width: 460px;
    height: 1430px;
    margin: 0px auto;
    flex-direction: column;
    align-items: center; /* horizontal */
    justify-content: center;
    /* outline: 1px solid blueviolet; */
  }
  .dragon-content-1{
    align-items: center;
    max-width: 759px;
    min-width: 460px;
    height: 620px;
    margin-top: 20px;
  }
  .div-1 img{
    width: 460px;
  }
  .div-2{
    margin-top: -40px;
  }
  .div-2 p{
    margin-top: 20px;
    text-align: center;
  }
  .dragon-content-2{
    max-width: 759px;
    min-width: 460px;
    height: auto;
  }
  .dragon-content-3{
    max-width: 759px;
    min-width: 460px;
  }
}
@media only screen and (max-width: 480px) {
  .dragons-list{
    max-width: 480px;
    min-width: 320px;
    height: 1430px;
    margin: 0px 10px;
    flex-direction: column;
    align-items: center; /* horizontal */
    justify-content: center;
    /* outline: 1px solid blueviolet; */
  }
  .dragon-content-1{
    align-items: flex-start;
    justify-content: center;
    max-width: 480px;
    min-width: 320px;
    height: 670px;
    margin-top: 80px;
  }
  .div-1 img{
    width: 320px;
  }
  .div-2{
    margin-top: -200px;
  }
  .div-2 p{
    margin-top: 20px;
    text-align: center;
  }
  .dragon-content-2{
    max-width: 480px;
    min-width: 320px;
    margin-top: -100px;
  }
  .dragon-content-3{
    max-width: 480px;
    min-width: 320px;
  }
}
/* DRAGONS SECTION ----------------------------------------------------------------- */


/* ROCKETS SECTION ----------------------------------------------------------------- */
.rockets-list{
  /* outline: 1px solid tomato; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 90px;
}
.rc-1 { /* rocket info */
  width: 80%;
}
.r-img{
  width: 137px;
  height: 1800px;
  margin-top: 50px;
}
.rc-1 ul {
  list-style: none;
}
.rp {
  display: flex;
  flex-direction: column;
  width: 100%; 
  height: auto; 
}
.rbox{
  margin-top: 10px;
}
.rgroup2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
} 
.rdiv1{
  width: 92%;
  margin: 0 auto;
  margin-top: 52px;
  margin-bottom: -10px;
}
.rdiv2{
  width: 92%;
  margin: 0 auto;
  margin-top: 16px;
}
.rdiv3{
  padding-top: 10px;
  padding-right: 30px;
  margin-left: -50px;
  margin-top: -10px;
}
.rdiv4{
  margin-left: -40px;
}
.rdiv5{
  margin-left: -40px;
}
.rdiv6{
  margin-left: -40px;
}
.rname{
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
@media only screen and (max-width: 880px) {
  .rdiv4 li{
    margin-left: -30px;
  }
  .rdiv5 li{
    margin-left: -30px;
  }
  .rdiv6 li{
    margin-left: -30px;
  }
  .r-img{
    width: 123px;
    height: 1665px;
  }
}
@media only screen and (max-width: 769px) {
  .rockets-list{
    flex-direction: column;
    align-items: center;
    max-width: 769px;
    min-width: 440px;
  }
  .rbox {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .rockets-list{
    max-width: 480px;
    min-width: 320px;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid salmon; */
  }
  .rc-2 {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .rname{
    margin-top: 60px;
  }
  .rgroup2{
    flex-direction: column;
    margin: 0 auto;
  }
  .rdiv1{
    margin-top: 40px;
    margin-left: 12px;
  }
  .rdiv2{   
    margin: 0 auto;
    margin-top: 10px;
  }
  .rdiv3{
    margin-top: 10px;
    margin-left: -30px;
  }
  .rdiv4{
    margin-left: 0px;
  }
  .rdiv5{
    margin-left: -30px;
  }
  .rdiv6{
    margin-left: -30px;
    margin-bottom: 40px;
  }
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 20px;
  /* margin-bottom: 30px; */
  /* outline: solid 1px red; */
}

.spinner-container{
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.spinner {
  width: 80px;
  height: 80px;
  margin: 100px auto;
  margin-top: 300px;
  background-color: var(--color-light-blue);
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.not-found{
  width: 400px;
  height: 700px;
  /* outline: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
}
.not-found img{
  width: 400px;
  margin-top: 20px;
  /* outline: 1px solid salmon; */
}
.not-found h2{
  font-size: 82px;
  /* outline: 1px solid salmon; */
}
.spacex-link{
  /* outline: 1px solid salmon; */
  margin-top: 50px;
  text-decoration: none;
  font-size: 20px;
}
.p1{
  margin-bottom: -80px;
}
.p2{
  margin-top: -60px;
}
@media only screen and (max-width: 480px) {
  .not-found{
    max-width: 400px;
    min-width: 320px;
  }
  .not-found img{
    width: 360px;
  }
}