body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
  background: #232323;
}

/* dragons-grid ----------------------------------- */
/* .dragons-list{
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  height: 620px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 10px 10px;

  outline: 1px solid tomato;
}
.dragon-grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .3fr repeat(2, 1fr) repeat(2, .3fr) repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  width: 56%;
  height: 600px;
  padding: 10px 10px;

  color: aliceblue;
  outline: 1px solid lime;
} */

/* .dragon-grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .3fr repeat(2, 1fr) repeat(2, .3fr) repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  width: 26%;
  height: 600px;
  padding: 10px 10px;

  color: aliceblue;
  outline: 1px solid lime;
}

.div-1{
  grid-area: 1 / 1 / 5 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: 1px solid rgb(0, 132, 255); 
}
.div-1 img{
  width: 510px;
}
.div-2{
  grid-area: 6 / 1 / 8 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;

  outline: 1px solid rgb(0, 132, 255); 
}

.div-3 {
  grid-area: 1 / 1 / 2 / 2;
  outline: 1px solid rgb(0, 132, 255); 
}
.div-4 {
  grid-area: 2 / 1 / 4 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.664);
  outline: 1px solid rgb(0, 132, 255); 
}
.div-5 {
  grid-area: 5 / 1 / 6 / 2;
  outline: 1px solid rgb(0, 132, 255); 
}
.div-6 {
  grid-area: 6 / 1 / 8 / 2;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.664);
  outline: 1px solid rgb(0, 132, 255); 
} */
.gcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "div1 div1 div1"
    "div2 div2 div2"
    "div3 div4 div5"
    "div3 div4 div6";
  width: 1000px;
  height: 600px;
  /* outline: 1px solid rgb(0, 132, 255);  */

}

.div1 { grid-area: div1;
  outline: 1px solid tomato; 
}

.div2 { grid-area: div2;
  outline: 1px solid tomato; 
}

.div3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: div3;
  outline: 1px solid tomato; 
}

.div4 { grid-area: div4;
  outline: 1px solid tomato; 
}

.div5 { grid-area: div5; 
  outline: 1px solid tomato; 
}

.div6 { grid-area: div6; 
  outline: 1px solid tomato; 
}
